.select-place{
width: 95%;
padding: 50px;
align-items: center;
}

@media(max-width: 720px){
  .select-place{
		width: 80%;
	}
}

.place-table {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
}
.place-table th {
  display: flex;
  width: 100%;
  background: rgb(113, 162, 226);
  padding: 18px 0;
}
.place-table tr  {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.place-table tr:nth-of-type(odd) {
  background: rgb(255, 255, 255);
}
.place-table td , .place-table th{
  flex: 1 1 20%;
  text-align: center;
  justify-content: center; 
}
