.container {
  padding: 40px;
  /* background: #419be0; */
}


.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
.slick-slide img {
  margin: auto;
}