
.search-box {
    margin-top: 300px;
    margin-left: 35%;
    margin-bottom: 370px;
	width: 600px;
	padding: 100px;
	background: rgba(0,0,0,.4);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
} 

.search-box input[type='submit'] {
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background: #03A9F4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
    width: 100%;
}
.search-box input[type='submit']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}
@media(max-width: 720px){
	.contact-box {
		width: 80%;
        display: flex;
        justify-content: center;
	}
}
