.search-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-box {
  width: 600px;
  padding:100px 0px ;
  display: flex;
	align-items: center;
	justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.search-box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}
.search-box input[type="submit"]:hover {
  background-color: rgba(3, 169, 244, 0.7);
}

@media(max-width: 720px){
	.search-box  {
		width: 90%;
		font-size: 8px;
	}
	.search-box input{
		width: 100%;
	}
}